<!DOCTYPE html>
<%- include("./partials/head.ejs", {title: "Sign Up"}) %> 
<body>
  <h1>Sign Up</h1>
  <%- include("./partials/messages.ejs") %> 
<form action="" method="post">
  <label for="firstName">First name:</label>
  <input name="firstName" id="firstName" type="text" value="<%= locals.user ? user.firstName : "" %>" />
  <label for="lastName">Last name:</label>
  <input name="lastName" id="lastName" type="text" value="<%= locals.user ? user.lastName : "" %>"/>
  <label for="email">Email:</label>
  <input name="email" id="email" type="text" value="<%= locals.user ? user.email : "" %>"/>
  <label for="password">Password:</label>
  <input name="password" id="password" type="password" value="<%= locals.user ? user.password : "" %>" />
  <label for="confirmPassword">Confirm Password:</label>
  <input name="confirmPassword" id="confirmPassword" type="password" value="<%=  locals.user ? user.confirmPassword : "" %>" />
  <label for="isAdmin">Become an admin?</label>
  <select name="isAdmin" id="isAdmin">
    <option value="true">Yes</option>
    <option value="false" selected>No</option>
  </select>
  <input type="submit" />
</form>
  <a href="/">Go back</a>
</body>
</html>